@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Krisha.kz Company<br />
    Tole bi, 155<br />
    <abbr title="Phone">P:</abbr>
    8-777-707-77-07
</address>
